{% extends 'Store/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'page/css/contacts.css' %}">
{% endblock styles %}

{% block title %}
    Контакты
{% endblock title%}

{% block content %}
    <h1>Контакты</h1>
    <p>Вы можете найти нас по адресу: г. Санкт-Петербург, ул. Воронежская, дом 38, офис 125</p>
    <p>Как добраться: Фиолетовая линия, станция метро "Обводный канал", после выхода сразу направо</p>
    <p>Телефон отдела продаж: 8-495-123-45-67 (многоканальный)</p>
    <p>Телефон отдела оптовых продаж: 8-495-765-43-21</p>
    <p>Email: sales@myshop.ru</p>
    <p><strong>График работы офиса и склада:</strong></p>
    <table>
        <tbody>
        <tr>
            <td>Понедельник</td>
            <td>с 9:00 до 21:00</td>
        </tr>
        <tr>
            <td>Вторник</td>
            <td>с 9:00 до 21:00</td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>с 9:00 до 21:00</td>
        </tr>
        <tr>
            <td>Четверг</td>
            <td>с 9:00 до 21:00</td>
        </tr>
        <tr>
            <td>Пятница</td>
            <td>с 9:00 до 21:00</td>
        </tr>
        <tr>
            <td>Суббота</td>
            <td>с 10:00 до 20:00</td>
        </tr>
        <tr>
            <td>Воскресенье</td>
            <td>с 10:00 до 20:00</td>
        </tr>
        </tbody>
    </table>
    <p>Заказы через сайт принимаются круглосуточно!</p>
    <p><strong>Реквизиты:</strong></p>
    <p>ИП Иванов Иван Иванович</p>
    <p>ОГРНИП: 123456789012345</p>
    <p>ИНН: 123456789012</p>
    <p>КПП: 123456789</p>
{% endblock content %}