{% extends 'Store/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'page/css/delivery.css' %}">
{% endblock styles %}

{% block title %}
    Доставка
{% endblock title%}

{% block content %}
    <h1>Доставка</h1>
    <p>Наш интернет-магазин осуществляет доставку по Москве и регионам России:</p>
    <ul>
        <ol>1. Курьерская доставка по Москве — 200 руб.</ol>
        <ol>2. Самовывоз из нашего пункта выдачи или розничного магазина – бесплатно!</ol>
        <ol>3. Почтовая доставка по России — от 150 руб. в зависимости от адреса доставки.</ol>
    </ul>
    <p>Сроки доставки:</p>
    <ul>
        <ol>1. Курьерская доставка по Москве – на следующий день</ol>
        <ol>2. Самовывоз – на следующий день</ol>
        <ol>3. Почтовая доставка по России – от 3 до 14 дней в зависимости от региона</ol>
    </ul>
    <p>
        <strong>
            Доставка осуществляется бесплатно при сумме заказа более 7000 рублей.
        </strong>
    </p>
{% endblock content %}