{% extends 'Store/base.html' %}
{% load static store_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Store/css/basket.css' %}">
{% endblock styles %}

{% block title %}Корзина{% endblock title %}
{% block content %}
    <h1>Корзина</h1>
    {% if baskets %}
         <div class="cart">
            {% for basket in baskets %}
                <div class="product">
                    <div class="product-left">
                        <img src="/media/{{ basket.product.image }}" alt="">
                        <a href="{% url 'store:product' basket.product.category.name basket.product.id %}">{{basket.product.name}}</a>
                    </div>
                    <div class="product-right">
                        <div class="product-price">{{basket.product.price}} руб/шт</div>
                        <div class="product-quantity">
                            <div class="available-in-stock">
                                <a href="{% url 'store:basket_minus' basket.id%}" class="product-quantity-change">-</a>
                                {{basket.quantity}}
                                {% if basket.quantity != basket.product.quantity %}
                                    <a href="{% url 'store:basket_add' basket.product.id%}" class="product-quantity-change">+</a>
                                {% else %}
                                    <div class="product-quantity-block">+</div>
                                {% endif %}
                            </div>
                            {% if basket.quantity == basket.product.quantity %}
                                <div class="out-of-stock">
                                    в наличии {{basket.product.quantity}} штук
                                </div>
                            {% endif %}
                        </div>
                        <div class="product-sum">{{basket.sum}} руб</div>
                        <a href="{% url 'store:basket_delete' basket.id %}"><img src="{% static 'Store/img/cross.png'%}" alt=""></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="promocode-and-order">
            <div class="promocode">
                <form action="{% url 'store:basket' %}" method="post">
                    {% csrf_token %}
                    {{ promocode_form.promocode }}
                    <div class="button-apply-promocode">
                        <input type="submit" value="Применить" name="promocode">
                    </div>
                </form>
            </div>
            <div class="order">
                <div class="amount">
                    <div class="caption-products">Товары ({% get_total_quantity request %})</div>
                    <div class="amount-price">{{ total_sum }} руб</div>
                </div>
                <div class="total">
                    <div class="caption-total">Итого:</div>
                    <div class="finally-price">{{ total_sum }} руб</div>
                </div>
                <a class="button-apply-order" href="{% url 'orders:new_order' %}">
                    Оформить заказ
                </a>
            </div>
        </div>
    {% else %}
        <div class="clear-basket">Ваша корзина пуста</div>
    {% endif %}
{% endblock content%}