{% extends 'Store/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'Store/css/index.css' %}">
{% endblock styles%}

{% block content%}
<div class="categories-and-main-post">
    <div class="categories">
        <div class="category">
            {% for category in categories %}
                <a href="#">
                    <img src="/media/{{ category.image }}" alt="">
                    <span class="category-name">
                        {{ category.name }}
                    </span>
                </a>
            {% endfor %}

            <a href="" class="all_categories">
                <img src="{% static 'Store/img/all_categories.png' %}" alt="">
                <span>Все категории</span>
            </a>
        </div>
    </div>
    <div class="banner-desktop">
        <img src="{% static 'Store/img/banner_desktop.webp' %}">
        <div class="banner-desktop-title-subtitle-button">
            <div class="banner-desktop-title-subtitle">
                <div class="banner-desktop-title">
                    Выгодно сегодня
                </div>
                <div class="banner-desktop-subtitle">
                    Сезонные скидки, раcпродажи, ликвидация остатков!
                    Все товары <br>с сезонными скидками:
                </div>
            </div>
            <div class="banner-desktop-button">
                <a href="">Все товары</a>
            </div>
        </div>
    </div>
</div>

{% for special_product in special_products %}
    <div class="special-line">
        <div class="special-line-main-image">
            <a href="">
                <img src="/media/{{ special_product.image }}" alt="">
                <div class="special-line-main-image-caption">Посмотреть все</div>
            </a>
        </div>
        {% for product in products %}
            {% if product.category == special_product.category %}
                <div class="special-line-card-and-hidden">
                    <div class="special-line-card">
                        <a href="">
                            <img src="/media/{{ product.image }}" class="special-line-card-image" alt="">
                            <div class="special-line-card-title">
                                {{ product.name }}
                            </div>
                            <div class="special-line-card-price">
                                {{ product.price }} руб
                            </div>
                            <div class="hidden-block">
                                <a href="">
                                    <div class="add-item-in-basket">В корзину</div>
                                </a>
                                <a href="">
                                    <img src="{% static 'Store/img/comparison.png' %}" style="width: 30px;height: 30px;" alt="">
                                </a>
                                <a href="">
                                    <img src="{% static 'Store/img/heart.png' %}" style="width: 30px;height: 30px;" alt="">
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
{% endblock content %}
