{% extends 'users/base.html' %}
{% load static %}


{% block title%}Контакты{% endblock title%}

{% block styles_in_users %}
    <link rel="stylesheet" href="{% static 'users/css/contacts.css' %}">
{% endblock styles_in_users %}

{% block users_title %}Контакты{% endblock users_title %}

{% block users_content %}
    {% if messages %}
        <div class="message">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="error">
                        {{ message}}
                    </div>
                {% else %}
                    <div class="success">
                        {{ message}}
                    </div>
                {% endif %}
            {% endfor %}
        </div>      
    {% endif %}
    <div class="contact-info">
        <form action="{% url 'users:contacts' %}" method="post">
            {% csrf_token %}
            <div class="name">Имя пользователя<span>*</span></div>
                {{ form.username }}
    <!--        <input type="text" class="input-name">-->
            <div class="telephone">Контактный телефон</div>
                {{ form.phone_number }}
    <!--        <input type="text" class="input-telephone">-->
            <div class="example">Например: +7(926)111-11-11</div>
            <div class="email">Email <span>*</span></div>
                {{ form.email }}
<!--            <input type="text" class="input-email">-->
            <input type="submit" value="Сохранить изменения" class="button-save">
        </form>
    </div>
{% endblock users_content %}