{% extends 'Store/base.html' %}
{% load static %}

{% block title%}Вход в кабинет покупателя{% endblock title%}

{% block styles%}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock styles%}

{% block content %}
    {% if messages or form.errors %}
            <div class=" {% if messages %} success {% else %} error {% endif %}">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                {{ form.non_field_errors | striptags }}
            </div>
    {% endif %}
    <div class="login">
        <form action="{% url 'users:login' %}" method="post">
            <div class="login-title">Вход в кабинет покупателя</div>
            {% csrf_token %}
            <div class="telephone-or-email-label">Email <span>*</span></div>
                {{ form.username }}
<!--            <input type="text" class="telephone-or-email-input">-->
            <div class="password-label">Пароль <span>*</span></div>
                {{ form.password }}
<!--            <input type="password" class="password-input">-->
            <div class="buttons">
                <input type="submit" class="buttons-login" value="Войти">
                <a href="{% url 'users:register' %}" class="buttons-register">Зарегистрироваться</a>
            </div>
        </form>
    </div>
{% endblock content %}