{% extends 'Store/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
{% endblock styles %}

{% block content %}
    <div class="register">
        <div class="register-title">Регистрация</div>
        <div class="register-name">Контактное лицо (ФИО) <span>*</span></div>
        <input type="text" class="register-name-input">
        <div class="register-telephone">Контактный телефон <span>*</span></div>
        <input type="text" class="register-telephone-input">
        <div class="register-example">Например: +7(926)111-11-11</div>
        <div class="register-email">Email <span>*</span></div>
        <input type="text" class="register-email-input">
        <div class="register-password">Пароль <span>*</span></div>
        <input type="password" class="register-password-input">
        <div class="register-password2">Повторите пароль <span>*</span></div>
        <input type="password" class="register-password2-input">
        <div class="register-buttons">
            <a href="#" class="register-buttons-register">Зарегистрироваться</a>
            <a href="{% url 'users:login' %}" class="register-buttons-login">У меня уже есть аккаунт</a>
        </div>
    </div>
{% endblock content %}